.bg{
  background-color: #e9f1f5;
}

.back{
  background-image: url(".//assets/bg.jpg");
}

.App {
  text-align: center;
}

.header{
  font-family: jomhuria;
  font-size: 60px;
  padding-top: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: jomhuria;
  src: url('./assets/JockeyOne-Regular.ttf');
}
